.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singlequestion {
  width: 85%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid grey;
  padding: 20px;
  margin-top: 20px;
}
.options {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}
.singleoption {
  width: 46%;
  font-size: 15px;
  height: 50px;
  padding: 15px 20px;
  margin: 10px;
  box-shadow: 0.4px 0.5px 5px black;
}
@media (max-width: 614px) {
  .singleoption {
    width: 100%;
  }
  .nextbtn {
    font-size: 20px;
  }
}
.select {
  background-color: rgb(7, 207, 0);
  color: white;
  box-shadow: 0 0 1px black;
  font-weight: bold;
}
.wrong {
  background-color: rgb(233, 0, 0);
  color: white;
  box-shadow: 0 0 1px black;
  font-weight: bold;
}
.controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
