.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
}
.resultbtn {
  margin-top: 40px;
  color: white;
}
.title {
  margin-bottom: 30px;
  font-size: 40px;
}
.resultbtn:hover {
  color: white;
}
