.content {
  display: flex;
  justify-content: space-around;
}
.settings {
  width: 45%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
.banner {
  width: 55%;
  align-self: center;
  padding: 8px;
}
.settengselect {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  flex: 0.8;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner {
    width: 85%;
    padding: 0;
    padding-top: 10px;
  }
  .settings {
    width: 100%;
  }
}
